
<mat-form-field class='search-holder'>
        <input type='text' placeholder="{{textLabel}}" matInput [formControl]="control" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of airports" [value]="option.name">
                    ({{option.code}}) {{ option.name }}
                </mat-option>
              </mat-autocomplete>
      </mat-form-field>